In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
df = DataFrame({'key1':['A']*2 + ['B']*3,
                'key2':[2,2,2,3,3]})
df

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [3]:
df.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [5]:
df.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [7]:
# keeps first value found
df.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [8]:
# keeps last value found
df.drop_duplicates(['key1'],take_last=True)

/home/juanc/Enthought/Canopy_64bit/User/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  from ipykernel import kernelapp as app

  key1  key2
1    A     2
4    B     3

In [9]:
df.drop_duplicates(['key1'],keep='last')

  key1  key2
1    A     2
4    B     3