In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = DataFrame(np.arange(12).reshape(3,4),
               index=['NY','LA','SF'],
               columns=['A','B','C','D'])
df

    A  B   C   D
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [3]:
df.index.map(str.lower)

array(['ny', 'la', 'sf'], dtype=object)

In [4]:
df

    A  B   C   D
NY  0  1   2   3
LA  4  5   6   7
SF  8  9  10  11

In [5]:
df.index = df.index.map(str.lower)

df

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [6]:
df.rename(index=str.title,columns=str.lower)

    a  b   c   d
Ny  0  1   2   3
La  4  5   6   7
Sf  8  9  10  11

In [7]:
df.rename(index={'ny':'New York'},columns={'A':'Alpha'})

          Alpha  B   C   D
New York      0  1   2   3
la            4  5   6   7
sf            8  9  10  11

In [8]:
df

    A  B   C   D
ny  0  1   2   3
la  4  5   6   7
sf  8  9  10  11

In [9]:
df.rename(index={'ny':'New York'},columns={'A':'Alpha'},inplace=True)

In [10]:
df

          Alpha  B   C   D
New York      0  1   2   3
la            4  5   6   7
sf            8  9  10  11