In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
np.random.seed(12345)

In [5]:
df = DataFrame(np.random.randn(1000,4))

df.head()

          0         1         2         3
0 -1.166530 -0.075264  0.112345  0.166874
1  0.012628  0.815313 -0.732001  0.868791
2  0.149693  0.485218  0.161056 -1.068808
3  1.190359 -1.053204  0.776001  1.311260
4  1.159677  0.477395 -0.004493  0.574631

In [6]:
df.tail()

            0         1         2         3
995 -1.530608  0.058991 -0.337120  1.129394
996 -0.151214 -0.898121 -1.467595 -1.086964
997 -0.104017  1.442214 -1.713617  0.936543
998  1.932427  0.530258 -0.217213  0.988951
999  0.193746 -1.744483  0.761804 -1.544201

In [7]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.039859    -0.033350    -0.011749    -0.031858
std       1.004647     0.998154     0.987471     1.013590
min      -3.530912    -3.024110    -3.170292    -3.105636
25%      -0.738643    -0.698731    -0.692887    -0.758010
50%       0.011608    -0.016171     0.022570    -0.035527
75%       0.663800     0.605952     0.666451     0.693491
max       2.916153     3.061029     2.623689     3.144389

In [10]:
col1 = df[0]

In [12]:
col1.head()

0   -1.166530
1    0.012628
2    0.149693
3    1.190359
4    1.159677
Name: 0, dtype: float64

In [14]:
col1[np.abs(col1)>3]

421   -3.530912
Name: 0, dtype: float64

In [15]:
df[(np.abs(df)>3).any(1)]

            0         1         2         3
158  0.623798 -0.436479  0.901529 -3.044612
192  0.617561 -1.148738 -3.170292 -1.017073
348  0.813014 -1.202724 -0.286215 -3.105636
360  0.123291 -3.024110 -1.168413 -0.888664
421 -3.530912 -0.576175 -0.750648  0.025443
712 -0.928871  3.061029 -0.297909  0.990886
787  0.836054 -0.780620  0.622791  3.144389

In [18]:
df[np.abs(df)>3] = np.sign(df) * 3

In [19]:
df.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.039328    -0.033386    -0.011579    -0.031852
std       1.002939     0.997895     0.986940     1.012700
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.738643    -0.698731    -0.692887    -0.758010
50%       0.011608    -0.016171     0.022570    -0.035527
75%       0.663800     0.605952     0.666451     0.693491
max       2.916153     3.000000     2.623689     3.000000