In [ ]:
'''
pd.read_csv
pd.read_table
df.to_csv
'''

In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [7]:
csvfile = 'lecture25_in.csv'

In [8]:
df = pd.read_csv(csvfile)

In [9]:
df

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  f  g  rabbit
2  5  8  3  7     dog

In [10]:
df = pd.read_csv(csvfile, header=None)

In [11]:
df

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  f  g  rabbit
3  5  8  3  7     dog

In [12]:
df = pd.read_table(csvfile, sep=',', header=None)

In [13]:
df

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  f  g  rabbit
3  5  8  3  7     dog

In [14]:
pd.read_csv(csvfile, header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [15]:
df.to_csv('lecture25_out.csv')

In [16]:
# to show results inline
import sys

In [17]:
df.to_csv(sys.stdout)

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,f,g,rabbit
3,5,8,3,7,dog

In [20]:
# saving with different delimiter
df.to_csv(sys.stdout,sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_f_g_rabbit
3_5_8_3_7_dog

In [21]:
# exporting specific columns
df.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,f
3,5,8,3