In [5]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [8]:
ser1 = Series(np.arange(3), index=['a', 'b', 'c'])

ser1

a    0
b    1
c    2
dtype: int32

In [9]:
# drop
ser1.drop('b')

a    0
c    2
dtype: int32

In [14]:
df1 = DataFrame(np.arange(9).reshape((3,3)), index=['SF','LA','NY'], columns=['Pop.', 'Size', 'Year'])

df1

    Pop.  Size  Year
SF     0     1     2
LA     3     4     5
NY     6     7     8

    Pop.  Size  Year
SF     0     1     2
LA     3     4     5
NY     6     7     8

In [15]:
df1.drop('LA')

    Pop.  Size  Year
SF     0     1     2
NY     6     7     8

In [16]:
df1

    Pop.  Size  Year
SF     0     1     2
LA     3     4     5
NY     6     7     8

In [18]:
# drop columns
df1.drop('Year', axis=1)

    Pop.  Size
SF     0     1
LA     3     4
NY     6     7