In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df = DataFrame(np.arange(16).reshape(4,4))

df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [3]:
blender = np.random.permutation(4)

blender

array([1, 3, 2, 0])

In [4]:
df.take(blender)

    0   1   2   3
1   4   5   6   7
3  12  13  14  15
2   8   9  10  11
0   0   1   2   3

In [3]:
box = np.array([1,2,3])

In [4]:
box

array([1, 2, 3])

In [5]:
shaker = np.random.randint(0,len(box),size=10)

shaker

array([2, 0, 0, 0, 1, 2, 1, 2, 0, 0])

In [6]:
hand_grabs = box.take(shaker)

hand_grabs

array([3, 1, 1, 1, 2, 3, 2, 3, 1, 1])